<div class="container-fluid">

  <!-- carousal -->
  <app-device-with-content></app-device-with-content>
  

  <!--  why are clients love us -->
  <div class="row">
    <div class="col-md-12 text-center" style="padding:10px">
      <h2 class="text-responsive">Why our clients love us ?</h2>
    </div>
  </div>
  <div class="row">
    <div  class="col-sm-12 col-md-12 col-12 text-center">
      <iframe class="responsive-iframe" style="height:25vw; width: 50vw" src="https://www.youtube.com/embed/1icCS2O4ROA" ></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-12 text-center" style="margin:10px;">
      <p>
        <mdb-icon fas icon="quote-left"></mdb-icon> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
        adipisci <mdb-icon fas icon="quote-right"></mdb-icon></p>
      <!-- <h5 class="h-responsive text-center">{{description}}</h5> -->
    </div>
  </div>

  <!-- Media Coverage-->
  <div class="container">
    <h2 class="col-md-12 text-center h-responsive" style="padding:10px;">Media Coverage </h2>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
      <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
         <img class="img-fluid" src="assets/2nd_carousal/BS.webp" class="w-25 p-3" alt="...">
         <img class="img-fluid" src="assets/2nd_carousal/FPJ.webp" width="15%" alt="...">
         <img class="img-fluid" src="assets/2nd_carousal/Silicon india.webp" class="w-25 p-3" alt="...">
         <img class="img-fluid" src="assets/2nd_carousal/zeebusiness.webp" class="w-25 p-3" alt="...">
        </div>
        <div class="carousel-item">
           <img src="assets/2nd_carousal/BS.webp" class="w-25 p-3" alt="...">
           <img src="assets/2nd_carousal/FPJ.webp" width="15%" alt="...">
           <img src="assets/2nd_carousal/Silicon india.webp" class="w-25 p-3" alt="...">
           <img src="assets/2nd_carousal/zeebusiness.webp" class="w-25 p-3" alt="...">
        </div>
      </div><br><br>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  </div>
  
    

  <!-- How to get Started -->
  <h2 class="text-center" style="padding:10px">How to get started ?</h2>
  <div class="row">
    <div class="col-sm-4 col-md-4 col-4 text-center">
      <img class="img-fluid rounded-circle " src="assets/steps/Step 1.webp"  alt="step1" >
      
      
      <h4 style="padding:2px;">Step 1</h4>
      <h6> Buy OneLap GPS Tracker</h6>
    </div>
    <div class="col-sm-4 col-md-4 col-4 text-center">
      <img class="img-fluid rounded-circle" src="assets/steps/Step 2.webp" alt="step2" >
      
      <h4 style="padding:2px;">Step 2</h4> 
      <h6>Install The Product</h6>
    </div>
    <div class="col-sm-4 col-md-4 col-4 text-center">
      <img class="img-fluid rounded-circle" src="assets/steps/step 3.webp" alt="step3" >
      
      <h4 style="padding:2px;">Step 3</h4>
      <h6>Activate Your Product</h6>
    </div>
  </div>
</div>
