<!-- <div class="container img-thumbnail ">
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-carousel-item class="text-center" *ngFor="let item of imgs ">
            <div class="row">
                <div class="col-md-6">
                    <img class=" w-50" src={{imgs[index]}} >
                </div>
                <div class="col-md-3"  style="margin-top:15%;" >
                    <img class="img-reponsive" src={{logos[index]}} width="15%"/>
                    <p>{{titles[index]}}</p>
                    <p>{{descriptions[index]}}</p>
                    
                </div>
            </div>
        </mdb-carousel-item>
    </mdb-carousel>
</div> -->

    <div class="slideshow-container">
        <!-- <div class="mySlides fade" *ngFor="let item of imgs"> -->
            <div class="row ">
                <div class="col-md-6 text-center">
                    <img src={{imgs[index]}} width="50%" />
                </div>
                <div class="col-md-5 text-center" style="margin-top:12%;">
                    <img src={{logos[index]}} width="15%" />
                    <p>{{titles[index]}}</p>
                    <p>{{descriptions[index]}}</p>
                    <div class="d-block">
                        <span class="dot" ></span> 
                        <span class="dot" ></span> 
                        <span class="dot" ></span> 
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </div><br><br>



